<footer>
    <div class="footer-columns">
        <div>
            <img src="images/ph-seal.png" alt="ph-seal" width="90" />
            <p>REPUBLIC OF THE PHILIPPINES<br />All content is in the public domain unless otherwise stated.</p>
        </div>
        <div>
            <h4>ABOUT GOVPH</h4>
            <p>Learn more about the Philippine government, its structure, how government works and the people behind
                it.</p>
            <p>GOV.PH<br />Open Data Portal<br />Official Gazette</p>
        </div>
        <div>
            <h4>GOVERNMENT LINKS</h4>
            <ul>
                <li>Office of the President</li>
                <li>Office of the Vice President</li>
                <li>Senate of the Philippines</li>
                <li>House of Representatives</li>
                <li>Supreme Court</li>
                <li>Court of Appeals</li>
                <li>Sandiganbayan</li>
            </ul>
        </div>
    </div>
</footer>
</template>